body {
    font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
    background-color: #f9f9f9;
    color: #333433;
}
h3 {
    text-align: center;
    color: #555;
}
table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
}
th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    text-align: center;
}
td {
    text-align: center;
    vertical-align: middle;
}
img {
    border-radius: 8px;
    max-width: 50px;
    height: auto;
}
.summary {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
.summary div {
    margin: 10px 0;
}
.summary-total {
    font-size: 1.2em;
    font-weight: bold;
    color: #d9534f;
}
a {
    color: #d9534f;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c9302c;
}

button.view-all-orders-btn,
button.view-recent-order-btn,
button.continue-shopping-btn {
    padding: 8px 20px; /* Điều chỉnh padding để nút nhỏ lại */
    background-color: #24235f; /* Màu nền giống */
    color: #fff; /* Màu chữ trắng */
    border: none; /* Không có viền */
    border-radius: 4px; /* Bo góc */
    font-size: 1em; /* Cỡ chữ */
    cursor: pointer; /* Con trỏ chuột dạng pointer */
    transition: background-color 0.3s; /* Hiệu ứng chuyển màu nền */
    display: inline-block; /* Để các nút hiển thị inline */
    text-align: center; /* Canh giữa nội dung trong nút */
}

/* Khi di chuột vào, màu nền thay đổi */
button.view-all-orders-btn:hover,
button.view-recent-order-btn:hover,
button.continue-shopping-btn:hover {
    background-color: #65698d; /* Màu nền khi hover giống với input[type="submit"]:hover */
}